
.home-link:hover {
  color: red;
}

.login-link:hover {
  color: red;
}

.signup-link:hover {
  color: red;
}

.logout-link:hover {
  color: red;
}

.nav-bar {
  background-color: #800000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.login-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.signup-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.logout-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.hello-user {
  color: white;
  padding: 10px;
}

.left-side-nav {
  display: flex;
  justify-content: flex-start;
}

.right-side-nav {
  display: flex;
  justify-content: flex-end;
}

.product-info-organizer {
  display: flex;
  flex-direction: column;
}

.product-organizer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-size {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  margin: auto;
}

.products-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.rug-name {
  text-align: center;
}

.rug-dimensions {
  text-align: center;
}

.rug-price {
  text-align: center;
}

.delete-btn {
  text-align: center;
  background-color: #800000;
  color: white;
  width: 150px;
  margin: auto;
}

.add-btn {
  text-align: center;
  background-color: #800000;
  color: white;
  padding: 15px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
}

.product-background {
  padding: 20px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 300px;
  box-shadow: 1px 2px 5px 4px lightgrey;
}


.home-page-header {
  text-align: center;
}

.cart-header {
  text-align: center;
}

.cart-center {
  text-align: center;
}

.add-header {
  text-align: center;
}

.form-background {
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 2px 5px 4px lightgrey;
  margin: auto;
  margin-top: 100px;
}

.form-organizer {
  display: flex;
  flex-direction: column;
}

.img-bar {
  width: 500px;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.name-bar {
  width: 500px;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.dim-bar {
  width: 500px;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.price-bar {
  width: 500px;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.login-background {
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 2px 5px 4px lightgrey;
  margin: auto;
  margin-top: 100px;
}

.login-organizer {
  display: flex;
  flex-direction: column;
}

.email-bar {
  width: 500px;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.password-bar {
  width: 500px;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.login-btn {
  text-align: center;
  background-color: #800000;
  color: white;
  padding: 15px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
}

.signin-background {
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 2px 5px 4px lightgrey;
  margin: auto;
  margin-top: 100px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signup-btn {
  text-align: center;
  background-color: #800000;
  color: white;
  padding: 15px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
}

.btn-quantity-organizer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-organizer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn-increase {
  margin: auto;
  margin-bottom: 5px;
}
