
.home-link:hover {
  color: red;
}

.login-link:hover {
  color: red;
}

.signup-link:hover {
  color: red;
}

.logout-link:hover {
  color: red;
}

.nav-bar {
  background-color: #800000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.login-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.signup-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.logout-link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.hello-user {
  color: white;
  padding: 10px;
}

.left-side-nav {
  display: flex;
  justify-content: flex-start;
}

.right-side-nav {
  display: flex;
  justify-content: flex-end;
}