.cart-organizer {
    display: flex;
    flex-direction: column;
}

.cart-info-organizer {
    display: flex;
    flex-direction: row;
}

.cart-background {
    padding: 20px;
    background-color: white;
    /* border: 2px solid lightgrey; */
    border-bottom: 2px solid #800000;
    /* border-radius: 10px; */
    width: 700px;
    /* box-shadow: 1px 2px 5px 4px lightgrey; */
    margin: auto;
    margin-bottom: 20px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cart-img-size {
    width: 250px;
    height: 250px;
    object-fit: scale-up;
    margin: auto;
}

.cart-rug-name {
    border-bottom: 2px solid #800000;
}

.cart-rug-dimensions {
    border-bottom: 2px solid #800000;
}

.cart-rug-price {
    border-bottom: 2px solid #800000;
}

.cart-qty {
    border-bottom: 2px solid #800000;
}

.cart-remove-btn {
    text-align: center;
    background-color: #800000;
    color: white;
    width: 150px;
    margin: auto;
    padding: 10px;
}

.cart-total-checkout-background {
    padding: 20px;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 300px;
    box-shadow: 1px 2px 5px 4px lightgrey;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-total {
    text-align: center;
}

.cart-checkout {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    background-color: #800000;
    color: white;
    width: 150px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
}

hr {
    border: 1px solid red;
    width: 200px;
    margin: auto;
}